<a href="https://colab.research.google.com/github/Sanaullahbaig/Pandas-notebook/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

**Data Structure in Python Pandas:** ->
The pandas provides two data structures for processing the data.
Series & DataFrame And Panel

***We Can use print(variabe_name) to display the data in plain text ouput but it will only work in Colab and Jupyter and just write the variable_name to display the table output.***

**Series** -> It is one dimensional array that is capable of storing various data types.

In [ ]:
import pandas as pd
x = [6, 7, 8, 9]
a = pd.Series(x)
print(a)
print(type(a))
# get value by index number
print(a[2])

# parameters ->index will be a,b,c,d and datatype will be float and name will be python
b = pd.Series(x, index=['a', 'b', 'c', 'd'], dtype='float', name='python')
print(b)

0    6
1    7
2    8
3    9
dtype: int64
<class 'pandas.core.series.Series'>
8
a    6.0
b    7.0
c    8.0
d    9.0
Name: python, dtype: float64

Dictionary in Series

In [ ]:
dic = {
    "name" : ['python', 'C', 'C++', 'Java'],
    "popularity" : [12, 13, 14, 15],
    "rank" : [1, 4, 3, 2]
}

a = pd.Series(dic) # datatype will be object as there is mixed data

print(a)

name          [python, C, C++, Java]
popularity          [12, 13, 14, 15]
rank                    [1, 4, 3, 2]
dtype: object

Single data Series

In [ ]:
s = pd.Series(12)
print(s)
print(type(s))

# We can print one value multiple time by giving it's index
c = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7])
print(c)
print(type(c))

Addition

In [ ]:
# It will not show error where data is missing, it perform operation on missing data
c1 = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7])
c2 = pd.Series(12, index=[1, 2, 3, 4])
print(c1 + c2)

DataFrame -> two dimensions data structure, it can be created by list and dictionary

In [ ]:
l = [1, 2, 3, 4, 5, 6]
var1 = pd.DataFrame(l)
print(var1)
print(type(var1))
# the number of data should be same
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5]
}
var2 = pd.DataFrame(d)
print(var2)

In [ ]:
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5],
    'c' : [3, 4, 2, 0, 8],
    1 : ['e', 'g', 't', 'o', 'h']
}
# for a particular column
var2 = pd.DataFrame(d, columns=['c', 1], index= ['x', 'y', 'z', 'm', 'j'])
print(var2)

In [ ]:
# getting a particular value
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5],
    'c' : [3, 4, 2, 0, 8],
    1 : ['e', 'g', 't', 'o', 'h']
}

var3 = pd.DataFrame(d)
# variable_name[column][row]
print(var3['a'][3])

In [ ]:
# DataFrame by list
list_1 = [[1, 2, 3, 4, 5],[6, 7, 8, 9, 0]]

var4 = pd.DataFrame(list_1)
print(var4)
print(type(var4))

   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  9  0
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# DataFrame by Series
dict_1 = {
    "n" : pd.Series([1, 2, 3, 4]),
    "m" : pd.Series([1, 2, 3, 4])
}
var5 = pd.DataFrame(dict_1)
print(var5)

   n  m
0  1  1
1  2  2
2  3  3
3  4  4

Arithmetic Operation

In [ ]:
# Addition
my_dict = {
    "A" : [1, 2, 3, 4],
    "B" : [5, 6, 8, 9]
}
var = pd.DataFrame(my_dict)
var['C'] = var['A'] + var['B']
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  8  11
3  4  9  13

In [ ]:
# Subtraction
var['C'] = var['A'] - var['B']
print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  8 -5
3  4  9 -5

In [ ]:
# Multiplication
var['C'] = var['A'] * var['B']
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  8  24
3  4  9  36

In [ ]:
# Division
var['C'] = var['A'] / var['B']
print(var)

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  8  0.375000
3  4  9  0.444444

In [ ]:
# Boolean
my_dict = {
    "A" : [10, 20, 30, 40],
    "B" : [15, 16, 18, 19]
}
var = pd.DataFrame(my_dict)
var['Python'] = var['A'] <= 20
var['Python_1'] = var['B'] > 16
print(var)

    A   B  Python  Python_1
0  10  15    True     False
1  20  16    True     False
2  30  18   False      True
3  40  19   False      True

Insert and Delete

In [ ]:
# Insertion
dict_2 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var5 = pd.DataFrame(dict_2)
# variable_name.insert(index_number_by_column, Column_name, data)
var5.insert(1, 'Python', [1, 2, 3, 4, 5])
print(var5)

    A  Python   B
0  10       1  15
1  20       2  16
2  30       3  18
3  40       4  19
4  50       5  13

In [ ]:
# for copying limited amount of data
dict_3 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var6 = pd.DataFrame(dict_3)
# variable_name[new_column_name] = variable_name[column_name][index_number]
var6['python_12'] = var5["A"][0:3]
print(var6)

    A   B  python_12
0  10  15       10.0
1  20  16       20.0
2  30  18       30.0
3  40  19        NaN
4  50  13        NaN

In [ ]:
# Delete
dict_4 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var7 = pd.DataFrame(dict_4)
var8 = var7.pop("B")
# we can also delete by "del var7["B"]"
print(var7) # will display the table after delition
print(var8) # will display the values which are deleted

    A
0  10
1  20
2  30
3  40
4  50
0    15
1    16
2    18
3    19
4    13
Name: B, dtype: int64

CSV File

In [ ]:
dict_5 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13],
    "C" : [5, 6, 8, 9, 3]
}
var_1 = pd.DataFrame(dict_5)
print(var_1)
# create csv file
# here we give index+ False to not create it's index
var_1.to_csv('text_new1.csv', index=False, header=[1, 2, 3])

    A   B  C
0  10  15  5
1  20  16  6
2  30  18  8
3  40  19  9
4  50  13  3

Read CSV File

In [ ]:
# as we have file in our pc and colab don't have access to pc files so we use files module to upload file temoporaily

# from google.colab import files
# import pandas as pd

# Step 1: Upload the file from your PC
# uploaded = files.upload()  # Choose text.csv when prompted

# Step 2: Read the uploaded file (no need for E:\ path)
# csv1 = pd.read_csv("text.csv")

# Step 3: Display the data
# csv1

In [ ]:
# first we upload the file then we read it
csv_1 = pd.read_csv("text.csv")
print(csv_1) # will print as plain text
csv_1 # will show a table

    ID            Name   Age  Gender               Department        City  \
0    1        Ali Khan  21.0    Male         Computer Science      Lahore
1    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
2    3      Ahmed Raza  20.0    Male                      NaN   Islamabad
3    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
4    5     Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik   NaN  Female     Software Engineering      Lahore
6    7      Farhan Ali  20.0    Male         Computer Science     Karachi
7    8      Maria Khan  21.0  Female             Data Science         NaN
8    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
10  11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
11  12     Noor Fatima  22.0  Female             Data Science      Lahore
12  13      Talha Shah  20.0    Male     Software Engineering     Karachi
13  14      Anum Tariq  21.0  Female                      NaN   Islamabad
14  15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
15  16      Alina Rauf  20.0  Female   Information Technology         NaN
16  17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
17  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
18  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
20  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
21  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
22  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
23  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider  21.0    Male         Computer Science      Lahore
25  26      Aiman Khan  20.0  Female             Data Science   Islamabad
26  27   Shahid Afridi  22.0    Male   Information Technology      Multan
27  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
28  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah  23.0    Male             Data Science      Lahore
31  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
32  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
35  36     Sobia Malik  22.0  Female             Data Science      Multan
36  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
37  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt  20.0    Male         Computer Science      Lahore
39  40     Shazia Noor  23.0  Female             Data Science     Karachi
40  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
41  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan  23.0  Female         Computer Science      Lahore
44  45     Jawad Aslam  22.0    Male             Data Science     Karachi
45  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
48  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
49  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Marks
0    88.0
1    92.0
2    79.0
3    95.0
4     NaN
5    90.0
6    76.0
7    89.0
8    81.0
9     NaN
10   85.0
11   97.0
12   78.0
13   88.0
14   82.0
15   91.0
16   80.0
17   94.0
18    NaN
19   90.0
20   84.0
21   96.0
22   75.0
23   91.0
24   79.0
25   92.0
26   83.0
27   95.0
28   87.0
29   90.0
30   89.0
31   93.0
32   85.0
33   97.0
34   80.0
35   94.0
36   88.0
37   90.0
38   83.0
39   91.0
40   87.0
41   92.0
42   85.0
43   94.0
44   78.0
45   89.0
46   81.0
47   93.0
48   88.0
49   96.0

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# For particular rows we will give the number of rows
csv_2 = pd.read_csv("text.csv", nrows=3)
print(csv_2)
print(type(csv_2))

   ID        Name  Age  Gender            Department       City  Marks
0   1    Ali Khan   21    Male      Computer Science     Lahore     88
1   2  Sana Ahmed   22  Female  Software Engineering    Karachi     92
2   3  Ahmed Raza   20    Male                   NaN  Islamabad     79
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# For particular column we will give the name of column or index number, but we have to give the
# same data like give all names or all index numbers we can't take name and index number at the same time
csv_3 = pd.read_csv("text.csv", usecols=["Name", "Department"])
csv_4 = pd.read_csv("text.csv", usecols=[1, 4])
print(csv_3)
print(csv_4)

              Name               Department
0         Ali Khan         Computer Science
1       Sana Ahmed     Software Engineering
2       Ahmed Raza                      NaN
3      Ayesha Noor             Data Science
4      Usman Tariq  Artificial Intelligence
5       Hina Malik     Software Engineering
6       Farhan Ali         Computer Science
7       Maria Khan             Data Science
8       Zain Rafiq  Artificial Intelligence
9      Laiba Ahmed   Information Technology
10     Hassan Raza         Computer Science
11     Noor Fatima             Data Science
12      Talha Shah     Software Engineering
13      Anum Tariq                      NaN
14      Saad Iqbal         Computer Science
15      Alina Rauf   Information Technology
16   Shahzaib Khan             Data Science
17    Fatima Aslam     Software Engineering
18  Abdullah Zafar  Artificial Intelligence
19    Hareem Zahra         Computer Science
20    Adeel Akhtar   Information Technology
21     Iqra Yousaf             Data Science
22    Kamran Malik     Software Engineering
23   Mehwish Tariq  Artificial Intelligence
24    Imran Haider         Computer Science
25      Aiman Khan             Data Science
26   Shahid Afridi   Information Technology
27      Sadia Noor     Software Engineering
28        Ali Raza  Artificial Intelligence
29    Kinza Rehman         Computer Science
30    Murtaza Shah             Data Science
31     Anila Ahmed     Software Engineering
32     Hamza Tariq  Artificial Intelligence
33   Samina Yousaf         Computer Science
34    Naveed Iqbal   Information Technology
35     Sobia Malik             Data Science
36      Omer Javed     Software Engineering
37    Sehrish Khan  Artificial Intelligence
38      Rehan Butt         Computer Science
39     Shazia Noor             Data Science
40  Hammad Qureshi     Software Engineering
41     Arisha Zain   Information Technology
42     Zeeshan Ali  Artificial Intelligence
43     Areeba Khan         Computer Science
44     Jawad Aslam             Data Science
45     Fizza Malik     Software Engineering
46     Mohsin Raza  Artificial Intelligence
47     Amna Yousaf   Information Technology
48    Rizwan Ahmed         Computer Science
49      Hira Iqbal             Data Science
              Name               Department
0         Ali Khan         Computer Science
1       Sana Ahmed     Software Engineering
2       Ahmed Raza                      NaN
3      Ayesha Noor             Data Science
4      Usman Tariq  Artificial Intelligence
5       Hina Malik     Software Engineering
6       Farhan Ali         Computer Science
7       Maria Khan             Data Science
8       Zain Rafiq  Artificial Intelligence
9      Laiba Ahmed   Information Technology
10     Hassan Raza         Computer Science
11     Noor Fatima             Data Science
12      Talha Shah     Software Engineering
13      Anum Tariq                      NaN
14      Saad Iqbal         Computer Science
15      Alina Rauf   Information Technology
16   Shahzaib Khan             Data Science
17    Fatima Aslam     Software Engineering
18  Abdullah Zafar  Artificial Intelligence
19    Hareem Zahra         Computer Science
20    Adeel Akhtar   Information Technology
21     Iqra Yousaf             Data Science
22    Kamran Malik     Software Engineering
23   Mehwish Tariq  Artificial Intelligence
24    Imran Haider         Computer Science
25      Aiman Khan             Data Science
26   Shahid Afridi   Information Technology
27      Sadia Noor     Software Engineering
28        Ali Raza  Artificial Intelligence
29    Kinza Rehman         Computer Science
30    Murtaza Shah             Data Science
31     Anila Ahmed     Software Engineering
32     Hamza Tariq  Artificial Intelligence
33   Samina Yousaf         Computer Science
34    Naveed Iqbal   Information Technology
35     Sobia Malik             Data Science
36      Omer Javed     Software Engineering
37    Sehrish Khan  Artificial Intelligence
38      Rehan Butt         Computer Science
39     Shazia Noor             Data Science
40  Hammad Qureshi     Software Engineering
41     Arisha Zain   Information Technology
42     Zeeshan Ali  Artificial Intelligence
43     Areeba Khan         Computer Science
44     Jawad Aslam             Data Science
45     Fizza Malik     Software Engineering
46     Mohsin Raza  Artificial Intelligence
47     Amna Yousaf   Information Technology
48    Rizwan Ahmed         Computer Science
49      Hira Iqbal             Data Science

In [ ]:
# Skip rows
csv_5 = pd.read_csv("text.csv", skiprows=[1, 5, 9]) # will skip rows with index number 1,5,9
print(csv_5)

    ID            Name   Age  Gender               Department        City  \
0    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
1    3      Ahmed Raza  20.0    Male                      NaN   Islamabad
2    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
3    6      Hina Malik   NaN  Female     Software Engineering      Lahore
4    7      Farhan Ali  20.0    Male         Computer Science     Karachi
5    8      Maria Khan  21.0  Female             Data Science         NaN
6   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
7   11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
8   12     Noor Fatima  22.0  Female             Data Science      Lahore
9   13      Talha Shah  20.0    Male     Software Engineering     Karachi
10  14      Anum Tariq  21.0  Female                      NaN   Islamabad
11  15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
12  16      Alina Rauf  20.0  Female   Information Technology         NaN
13  17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
14  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
15  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
16  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
17  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
18  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
19  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
20  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
21  25    Imran Haider  21.0    Male         Computer Science      Lahore
22  26      Aiman Khan  20.0  Female             Data Science   Islamabad
23  27   Shahid Afridi  22.0    Male   Information Technology      Multan
24  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
25  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
26  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
27  31    Murtaza Shah  23.0    Male             Data Science      Lahore
28  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
29  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
30  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
31  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
32  36     Sobia Malik  22.0  Female             Data Science      Multan
33  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
34  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
35  39      Rehan Butt  20.0    Male         Computer Science      Lahore
36  40     Shazia Noor  23.0  Female             Data Science     Karachi
37  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
38  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
39  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
40  44     Areeba Khan  23.0  Female         Computer Science      Lahore
41  45     Jawad Aslam  22.0    Male             Data Science     Karachi
42  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
43  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
44  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
45  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
46  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Marks
0    92.0
1    79.0
2    95.0
3    90.0
4    76.0
5    89.0
6     NaN
7    85.0
8    97.0
9    78.0
10   88.0
11   82.0
12   91.0
13   80.0
14   94.0
15    NaN
16   90.0
17   84.0
18   96.0
19   75.0
20   91.0
21   79.0
22   92.0
23   83.0
24   95.0
25   87.0
26   90.0
27   89.0
28   93.0
29   85.0
30   97.0
31   80.0
32   94.0
33   88.0
34   90.0
35   83.0
36   91.0
37   87.0
38   92.0
39   85.0
40   94.0
41   78.0
42   89.0
43   81.0
44   93.0
45   88.0
46   96.0

In [ ]:
# Change index
csv_6 = pd.read_csv("text.csv", index_col= ["Marks"])
print(csv_6)

       ID            Name   Age  Gender               Department        City
Marks
88.0    1        Ali Khan  21.0    Male         Computer Science      Lahore
92.0    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
79.0    3      Ahmed Raza  20.0    Male                      NaN   Islamabad
95.0    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
NaN     5     Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi
90.0    6      Hina Malik   NaN  Female     Software Engineering      Lahore
76.0    7      Farhan Ali  20.0    Male         Computer Science     Karachi
89.0    8      Maria Khan  21.0  Female             Data Science         NaN
81.0    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
NaN    10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
85.0   11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
97.0   12     Noor Fatima  22.0  Female             Data Science      Lahore
78.0   13      Talha Shah  20.0    Male     Software Engineering     Karachi
88.0   14      Anum Tariq  21.0  Female                      NaN   Islamabad
82.0   15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
91.0   16      Alina Rauf  20.0  Female   Information Technology         NaN
80.0   17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
94.0   18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
NaN    19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
90.0   20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
84.0   21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
96.0   22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
75.0   23    Kamran Malik  20.0    Male     Software Engineering     Karachi
91.0   24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
79.0   25    Imran Haider  21.0    Male         Computer Science      Lahore
92.0   26      Aiman Khan  20.0  Female             Data Science   Islamabad
83.0   27   Shahid Afridi  22.0    Male   Information Technology      Multan
95.0   28      Sadia Noor  23.0  Female     Software Engineering     Karachi
87.0   29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
90.0   30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
89.0   31    Murtaza Shah  23.0    Male             Data Science      Lahore
93.0   32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
85.0   33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
97.0   34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
80.0   35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
94.0   36     Sobia Malik  22.0  Female             Data Science      Multan
88.0   37      Omer Javed  23.0    Male     Software Engineering   Islamabad
90.0   38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
83.0   39      Rehan Butt  20.0    Male         Computer Science      Lahore
91.0   40     Shazia Noor  23.0  Female             Data Science     Karachi
87.0   41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
92.0   42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
85.0   43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
94.0   44     Areeba Khan  23.0  Female         Computer Science      Lahore
78.0   45     Jawad Aslam  22.0    Male             Data Science     Karachi
89.0   46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
81.0   47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
93.0   48     Amna Yousaf  20.0  Female   Information Technology      Lahore
88.0   49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
96.0   50      Hira Iqbal  21.0  Female             Data Science     Karachi

In [ ]:
# Make Heading give the number of rows which you want as heading and it will skip all the first rows
csv_7 = pd.read_csv("text.csv", header= 5)
print(csv_7)

     5     Usman Tariq    21    Male  Artificial Intelligence  Rawalpindi  \
0    6      Hina Malik   NaN  Female     Software Engineering      Lahore
1    7      Farhan Ali  20.0    Male         Computer Science     Karachi
2    8      Maria Khan  21.0  Female             Data Science         NaN
3    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
4   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
5   11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
6   12     Noor Fatima  22.0  Female             Data Science      Lahore
7   13      Talha Shah  20.0    Male     Software Engineering     Karachi
8   14      Anum Tariq  21.0  Female                      NaN   Islamabad
9   15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
10  16      Alina Rauf  20.0  Female   Information Technology         NaN
11  17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
12  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
13  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
14  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
15  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
16  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
17  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
18  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
19  25    Imran Haider  21.0    Male         Computer Science      Lahore
20  26      Aiman Khan  20.0  Female             Data Science   Islamabad
21  27   Shahid Afridi  22.0    Male   Information Technology      Multan
22  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
23  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
24  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
25  31    Murtaza Shah  23.0    Male             Data Science      Lahore
26  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
27  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
28  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
29  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
30  36     Sobia Malik  22.0  Female             Data Science      Multan
31  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
32  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
33  39      Rehan Butt  20.0    Male         Computer Science      Lahore
34  40     Shazia Noor  23.0  Female             Data Science     Karachi
35  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
36  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
37  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
38  44     Areeba Khan  23.0  Female         Computer Science      Lahore
39  45     Jawad Aslam  22.0    Male             Data Science     Karachi
40  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
41  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
42  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
43  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
44  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Unnamed: 6
0         90.0
1         76.0
2         89.0
3         81.0
4          NaN
5         85.0
6         97.0
7         78.0
8         88.0
9         82.0
10        91.0
11        80.0
12        94.0
13         NaN
14        90.0
15        84.0
16        96.0
17        75.0
18        91.0
19        79.0
20        92.0
21        83.0
22        95.0
23        87.0
24        90.0
25        89.0
26        93.0
27        85.0
28        97.0
29        80.0
30        94.0
31        88.0
32        90.0
33        83.0
34        91.0
35        87.0
36        92.0
37        85.0
38        94.0
39        78.0
40        89.0
41        81.0
42        93.0
43        88.0
44        96.0

In [ ]:
# Giving name
csv_8 = pd.read_csv("text.csv", names = ["Col1", "Col2", "Col3", "Col4", "Col5", "Col6", "Col7"])
print(csv_8)

   Col1            Col2 Col3    Col4                     Col5        Col6  \
0    ID            Name  Age  Gender               Department        City
1     1        Ali Khan   21    Male         Computer Science      Lahore
2     2      Sana Ahmed   22  Female     Software Engineering     Karachi
3     3      Ahmed Raza   20    Male                      NaN   Islamabad
4     4     Ayesha Noor   23  Female             Data Science  Faisalabad
5     5     Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi
6     6      Hina Malik  NaN  Female     Software Engineering      Lahore
7     7      Farhan Ali   20    Male         Computer Science     Karachi
8     8      Maria Khan   21  Female             Data Science         NaN
9     9      Zain Rafiq   22    Male  Artificial Intelligence      Multan
10   10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
11   11     Hassan Raza   21     NaN         Computer Science  Rawalpindi
12   12     Noor Fatima   22  Female             Data Science      Lahore
13   13      Talha Shah   20    Male     Software Engineering     Karachi
14   14      Anum Tariq   21  Female                      NaN   Islamabad
15   15      Saad Iqbal   23    Male         Computer Science  Faisalabad
16   16      Alina Rauf   20  Female   Information Technology         NaN
17   17   Shahzaib Khan   22     NaN             Data Science  Rawalpindi
18   18    Fatima Aslam   21  Female     Software Engineering     Karachi
19   19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
20   20    Hareem Zahra   20  Female         Computer Science   Islamabad
21   21    Adeel Akhtar   21    Male   Information Technology      Lahore
22   22     Iqra Yousaf   22  Female             Data Science  Faisalabad
23   23    Kamran Malik   20    Male     Software Engineering     Karachi
24   24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
25   25    Imran Haider   21    Male         Computer Science      Lahore
26   26      Aiman Khan   20  Female             Data Science   Islamabad
27   27   Shahid Afridi   22    Male   Information Technology      Multan
28   28      Sadia Noor   23  Female     Software Engineering     Karachi
29   29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
30   30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
31   31    Murtaza Shah   23    Male             Data Science      Lahore
32   32     Anila Ahmed   21  Female     Software Engineering   Islamabad
33   33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
34   34   Samina Yousaf   20  Female         Computer Science  Faisalabad
35   35    Naveed Iqbal   21    Male   Information Technology      Lahore
36   36     Sobia Malik   22  Female             Data Science      Multan
37   37      Omer Javed   23    Male     Software Engineering   Islamabad
38   38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
39   39      Rehan Butt   20    Male         Computer Science      Lahore
40   40     Shazia Noor   23  Female             Data Science     Karachi
41   41  Hammad Qureshi   22    Male     Software Engineering      Multan
42   42     Arisha Zain   21  Female   Information Technology  Faisalabad
43   43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
44   44     Areeba Khan   23  Female         Computer Science      Lahore
45   45     Jawad Aslam   22    Male             Data Science     Karachi
46   46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
47   47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
48   48     Amna Yousaf   20  Female   Information Technology      Lahore
49   49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
50   50      Hira Iqbal   21  Female             Data Science     Karachi

     Col7
0   Marks
1      88
2      92
3      79
4      95
5     NaN
6      90
7      76
8      89
9      81
10    NaN
11     85
12     97
13     78
14     88
15     82
16     91
17     80
18     94
19    NaN
20     90
21     84
22     96
23     75
24     91
25     79
26     92
27     83
28     95
29     87
30     90
31     89
32     93
33     85
34     97
35     80
36     94
37     88
38     90
39     83
40     91
41     87
42     92
43     85
44     94
45     78
46     89
47     81
48     93
49     88
50     96

In [ ]:
# Chnaging datatype
csv_9 = pd.read_csv("text.csv", dtype={"Age": "float", "Marks" : "float"})
print(csv_9)

    ID            Name   Age  Gender               Department        City  \
0    1        Ali Khan  21.0    Male         Computer Science      Lahore
1    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
2    3      Ahmed Raza  20.0    Male                      NaN   Islamabad
3    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
4    5     Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik   NaN  Female     Software Engineering      Lahore
6    7      Farhan Ali  20.0    Male         Computer Science     Karachi
7    8      Maria Khan  21.0  Female             Data Science         NaN
8    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
10  11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
11  12     Noor Fatima  22.0  Female             Data Science      Lahore
12  13      Talha Shah  20.0    Male     Software Engineering     Karachi
13  14      Anum Tariq  21.0  Female                      NaN   Islamabad
14  15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
15  16      Alina Rauf  20.0  Female   Information Technology         NaN
16  17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
17  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
18  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
20  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
21  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
22  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
23  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider  21.0    Male         Computer Science      Lahore
25  26      Aiman Khan  20.0  Female             Data Science   Islamabad
26  27   Shahid Afridi  22.0    Male   Information Technology      Multan
27  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
28  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah  23.0    Male             Data Science      Lahore
31  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
32  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
35  36     Sobia Malik  22.0  Female             Data Science      Multan
36  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
37  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt  20.0    Male         Computer Science      Lahore
39  40     Shazia Noor  23.0  Female             Data Science     Karachi
40  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
41  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan  23.0  Female         Computer Science      Lahore
44  45     Jawad Aslam  22.0    Male             Data Science     Karachi
45  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
48  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
49  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Marks
0    88.0
1    92.0
2    79.0
3    95.0
4     NaN
5    90.0
6    76.0
7    89.0
8    81.0
9     NaN
10   85.0
11   97.0
12   78.0
13   88.0
14   82.0
15   91.0
16   80.0
17   94.0
18    NaN
19   90.0
20   84.0
21   96.0
22   75.0
23   91.0
24   79.0
25   92.0
26   83.0
27   95.0
28   87.0
29   90.0
30   89.0
31   93.0
32   85.0
33   97.0
34   80.0
35   94.0
36   88.0
37   90.0
38   83.0
39   91.0
40   87.0
41   92.0
42   85.0
43   94.0
44   78.0
45   89.0
46   81.0
47   93.0
48   88.0
49   96.0

Pandas Functions, CSV file reading and Writing

In [ ]:
csv_10 = pd.read_csv("text.csv")
print(csv_10)

    ID            Name   Age  Gender               Department        City  \
0    1        Ali Khan  21.0    Male         Computer Science      Lahore
1    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
2    3      Ahmed Raza  20.0    Male                      NaN   Islamabad
3    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
4    5     Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik   NaN  Female     Software Engineering      Lahore
6    7      Farhan Ali  20.0    Male         Computer Science     Karachi
7    8      Maria Khan  21.0  Female             Data Science         NaN
8    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
10  11     Hassan Raza  21.0     NaN         Computer Science  Rawalpindi
11  12     Noor Fatima  22.0  Female             Data Science      Lahore
12  13      Talha Shah  20.0    Male     Software Engineering     Karachi
13  14      Anum Tariq  21.0  Female                      NaN   Islamabad
14  15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
15  16      Alina Rauf  20.0  Female   Information Technology         NaN
16  17   Shahzaib Khan  22.0     NaN             Data Science  Rawalpindi
17  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
18  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
20  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
21  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
22  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
23  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider  21.0    Male         Computer Science      Lahore
25  26      Aiman Khan  20.0  Female             Data Science   Islamabad
26  27   Shahid Afridi  22.0    Male   Information Technology      Multan
27  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
28  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah  23.0    Male             Data Science      Lahore
31  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
32  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
35  36     Sobia Malik  22.0  Female             Data Science      Multan
36  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
37  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt  20.0    Male         Computer Science      Lahore
39  40     Shazia Noor  23.0  Female             Data Science     Karachi
40  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
41  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan  23.0  Female         Computer Science      Lahore
44  45     Jawad Aslam  22.0    Male             Data Science     Karachi
45  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
48  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
49  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Marks
0    88.0
1    92.0
2    79.0
3    95.0
4     NaN
5    90.0
6    76.0
7    89.0
8    81.0
9     NaN
10   85.0
11   97.0
12   78.0
13   88.0
14   82.0
15   91.0
16   80.0
17   94.0
18    NaN
19   90.0
20   84.0
21   96.0
22   75.0
23   91.0
24   79.0
25   92.0
26   83.0
27   95.0
28   87.0
29   90.0
30   89.0
31   93.0
32   85.0
33   97.0
34   80.0
35   94.0
36   88.0
37   90.0
38   83.0
39   91.0
40   87.0
41   92.0
42   85.0
43   94.0
44   78.0
45   89.0
46   81.0
47   93.0
48   88.0
49   96.0

In [ ]:
csv_10.index # It will give the index of starting and stoping pointing and step

RangeIndex(start=0, stop=50, step=1)

In [ ]:
csv_10.columns # It will give the name of column

Index(['ID', 'Name', 'Age', 'Gender', 'Department', 'City', 'Marks'], dtype='object')

In [ ]:
csv_10.describe() # It will give the count(), mean(), std(), min(), max() etc in column

             ID        Age      Marks
count  50.00000  49.000000  47.000000
mean   25.50000  21.469388  87.659574
std    14.57738   1.082090   6.019088
min     1.00000  20.000000  75.000000
25%    13.25000  21.000000  83.000000
50%    25.50000  21.000000  89.000000
75%    37.75000  22.000000  92.000000
max    50.00000  23.000000  97.000000

In [ ]:
#           number of lines
csv_10.head(5) # here we can get the values from the top

   ID         Name   Age  Gender               Department        City  Marks
0   1     Ali Khan  21.0    Male         Computer Science      Lahore   88.0
1   2   Sana Ahmed  22.0  Female     Software Engineering     Karachi   92.0
2   3   Ahmed Raza  20.0    Male                      NaN   Islamabad   79.0
3   4  Ayesha Noor  23.0  Female             Data Science  Faisalabad   95.0
4   5  Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi    NaN

In [ ]:
#           number of lines
csv_10.tail(3) # here we can get the values from the bottom

    ID          Name   Age  Gender              Department       City  Marks
47  48   Amna Yousaf  20.0  Female  Information Technology     Lahore   93.0
48  49  Rizwan Ahmed  22.0    Male        Computer Science  Islamabad   88.0
49  50    Hira Iqbal  21.0  Female            Data Science    Karachi   96.0

In [ ]:
csv_10[5: 13] # It will give the data of rows with index no 5 to 12

    ID         Name   Age  Gender               Department        City  Marks
5    6   Hina Malik   NaN  Female     Software Engineering      Lahore   90.0
6    7   Farhan Ali  20.0    Male         Computer Science     Karachi   76.0
7    8   Maria Khan  21.0  Female             Data Science         NaN   89.0
8    9   Zain Rafiq  22.0    Male  Artificial Intelligence      Multan   81.0
9   10  Laiba Ahmed  23.0  Female   Information Technology  Faisalabad    NaN
10  11  Hassan Raza  21.0     NaN         Computer Science  Rawalpindi   85.0
11  12  Noor Fatima  22.0  Female             Data Science      Lahore   97.0
12  13   Talha Shah  20.0    Male     Software Engineering     Karachi   78.0

In [ ]:
csv_10.index.array # it will convert the index number into array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24),
 np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29),
 np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34),
 np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39),
 np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44),
 np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49)]
Length: 50, dtype: int64

In [ ]:
# converting into Numpy
csv_10.to_numpy()

array([[1, 'Ali Khan', 21.0, 'Male', 'Computer Science', 'Lahore', 88.0],
       [2, 'Sana Ahmed', 22.0, 'Female', 'Software Engineering',
        'Karachi', 92.0],
       [3, 'Ahmed Raza', 20.0, 'Male', nan, 'Islamabad', 79.0],
       [4, 'Ayesha Noor', 23.0, 'Female', 'Data Science', 'Faisalabad',
        95.0],
       [5, 'Usman Tariq', 21.0, 'Male', 'Artificial Intelligence',
        'Rawalpindi', nan],
       [6, 'Hina Malik', nan, 'Female', 'Software Engineering', 'Lahore',
        90.0],
       [7, 'Farhan Ali', 20.0, 'Male', 'Computer Science', 'Karachi',
        76.0],
       [8, 'Maria Khan', 21.0, 'Female', 'Data Science', nan, 89.0],
       [9, 'Zain Rafiq', 22.0, 'Male', 'Artificial Intelligence',
        'Multan', 81.0],
       [10, 'Laiba Ahmed', 23.0, 'Female', 'Information Technology',
        'Faisalabad', nan],
       [11, 'Hassan Raza', 21.0, nan, 'Computer Science', 'Rawalpindi',
        85.0],
       [12, 'Noor Fatima', 22.0, 'Female', 'Data Science', 'Lahore',
        97.0],
       [13, 'Talha Shah', 20.0, 'Male', 'Software Engineering',
        'Karachi', 78.0],
       [14, 'Anum Tariq', 21.0, 'Female', nan, 'Islamabad', 88.0],
       [15, 'Saad Iqbal', 23.0, 'Male', 'Computer Science', 'Faisalabad',
        82.0],
       [16, 'Alina Rauf', 20.0, 'Female', 'Information Technology', nan,
        91.0],
       [17, 'Shahzaib Khan', 22.0, nan, 'Data Science', 'Rawalpindi',
        80.0],
       [18, 'Fatima Aslam', 21.0, 'Female', 'Software Engineering',
        'Karachi', 94.0],
       [19, 'Abdullah Zafar', 23.0, 'Male', 'Artificial Intelligence',
        'Multan', nan],
       [20, 'Hareem Zahra', 20.0, 'Female', 'Computer Science',
        'Islamabad', 90.0],
       [21, 'Adeel Akhtar', 21.0, 'Male', 'Information Technology',
        'Lahore', 84.0],
       [22, 'Iqra Yousaf', 22.0, 'Female', 'Data Science', 'Faisalabad',
        96.0],
       [23, 'Kamran Malik', 20.0, 'Male', 'Software Engineering',
        'Karachi', 75.0],
       [24, 'Mehwish Tariq', 23.0, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 91.0],
       [25, 'Imran Haider', 21.0, 'Male', 'Computer Science', 'Lahore',
        79.0],
       [26, 'Aiman Khan', 20.0, 'Female', 'Data Science', 'Islamabad',
        92.0],
       [27, 'Shahid Afridi', 22.0, 'Male', 'Information Technology',
        'Multan', 83.0],
       [28, 'Sadia Noor', 23.0, 'Female', 'Software Engineering',
        'Karachi', 95.0],
       [29, 'Ali Raza', 21.0, 'Male', 'Artificial Intelligence',
        'Faisalabad', 87.0],
       [30, 'Kinza Rehman', 22.0, 'Female', 'Computer Science',
        'Rawalpindi', 90.0],
       [31, 'Murtaza Shah', 23.0, 'Male', 'Data Science', 'Lahore', 89.0],
       [32, 'Anila Ahmed', 21.0, 'Female', 'Software Engineering',
        'Islamabad', 93.0],
       [33, 'Hamza Tariq', 22.0, 'Male', 'Artificial Intelligence',
        'Karachi', 85.0],
       [34, 'Samina Yousaf', 20.0, 'Female', 'Computer Science',
        'Faisalabad', 97.0],
       [35, 'Naveed Iqbal', 21.0, 'Male', 'Information Technology',
        'Lahore', 80.0],
       [36, 'Sobia Malik', 22.0, 'Female', 'Data Science', 'Multan',
        94.0],
       [37, 'Omer Javed', 23.0, 'Male', 'Software Engineering',
        'Islamabad', 88.0],
       [38, 'Sehrish Khan', 21.0, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 90.0],
       [39, 'Rehan Butt', 20.0, 'Male', 'Computer Science', 'Lahore',
        83.0],
       [40, 'Shazia Noor', 23.0, 'Female', 'Data Science', 'Karachi',
        91.0],
       [41, 'Hammad Qureshi', 22.0, 'Male', 'Software Engineering',
        'Multan', 87.0],
       [42, 'Arisha Zain', 21.0, 'Female', 'Information Technology',
        'Faisalabad', 92.0],
       [43, 'Zeeshan Ali', 20.0, 'Male', 'Artificial Intelligence',
        'Islamabad', 85.0],
       [44, 'Areeba Khan', 23.0, 'Female', 'Computer Science', 'Lahore',
        94.0],
       [45, 'Jawad Aslam', 22.0, 'Male', 'Data Science', 'Karachi', 78.0],
       [46, 'Fizza Malik', 21.0, 'Female', 'Software Engineering',
        'Rawalpindi', 89.0],
       [47, 'Mohsin Raza', 23.0, 'Male', 'Artificial Intelligence',
        'Faisalabad', 81.0],
       [48, 'Amna Yousaf', 20.0, 'Female', 'Information Technology',
        'Lahore', 93.0],
       [49, 'Rizwan Ahmed', 22.0, 'Male', 'Computer Science',
        'Islamabad', 88.0],
       [50, 'Hira Iqbal', 21.0, 'Female', 'Data Science', 'Karachi',
        96.0]], dtype=object)

In [ ]:
# Converting into numpy array
import numpy as np

v = np.asarray(csv_10)
v

array([[1, 'Ali Khan', 21.0, 'Male', 'Computer Science', 'Lahore', 88.0],
       [2, 'Sana Ahmed', 22.0, 'Female', 'Software Engineering',
        'Karachi', 92.0],
       [3, 'Ahmed Raza', 20.0, 'Male', nan, 'Islamabad', 79.0],
       [4, 'Ayesha Noor', 23.0, 'Female', 'Data Science', 'Faisalabad',
        95.0],
       [5, 'Usman Tariq', 21.0, 'Male', 'Artificial Intelligence',
        'Rawalpindi', nan],
       [6, 'Hina Malik', nan, 'Female', 'Software Engineering', 'Lahore',
        90.0],
       [7, 'Farhan Ali', 20.0, 'Male', 'Computer Science', 'Karachi',
        76.0],
       [8, 'Maria Khan', 21.0, 'Female', 'Data Science', nan, 89.0],
       [9, 'Zain Rafiq', 22.0, 'Male', 'Artificial Intelligence',
        'Multan', 81.0],
       [10, 'Laiba Ahmed', 23.0, 'Female', 'Information Technology',
        'Faisalabad', nan],
       [11, 'Hassan Raza', 21.0, nan, 'Computer Science', 'Rawalpindi',
        85.0],
       [12, 'Noor Fatima', 22.0, 'Female', 'Data Science', 'Lahore',
        97.0],
       [13, 'Talha Shah', 20.0, 'Male', 'Software Engineering',
        'Karachi', 78.0],
       [14, 'Anum Tariq', 21.0, 'Female', nan, 'Islamabad', 88.0],
       [15, 'Saad Iqbal', 23.0, 'Male', 'Computer Science', 'Faisalabad',
        82.0],
       [16, 'Alina Rauf', 20.0, 'Female', 'Information Technology', nan,
        91.0],
       [17, 'Shahzaib Khan', 22.0, nan, 'Data Science', 'Rawalpindi',
        80.0],
       [18, 'Fatima Aslam', 21.0, 'Female', 'Software Engineering',
        'Karachi', 94.0],
       [19, 'Abdullah Zafar', 23.0, 'Male', 'Artificial Intelligence',
        'Multan', nan],
       [20, 'Hareem Zahra', 20.0, 'Female', 'Computer Science',
        'Islamabad', 90.0],
       [21, 'Adeel Akhtar', 21.0, 'Male', 'Information Technology',
        'Lahore', 84.0],
       [22, 'Iqra Yousaf', 22.0, 'Female', 'Data Science', 'Faisalabad',
        96.0],
       [23, 'Kamran Malik', 20.0, 'Male', 'Software Engineering',
        'Karachi', 75.0],
       [24, 'Mehwish Tariq', 23.0, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 91.0],
       [25, 'Imran Haider', 21.0, 'Male', 'Computer Science', 'Lahore',
        79.0],
       [26, 'Aiman Khan', 20.0, 'Female', 'Data Science', 'Islamabad',
        92.0],
       [27, 'Shahid Afridi', 22.0, 'Male', 'Information Technology',
        'Multan', 83.0],
       [28, 'Sadia Noor', 23.0, 'Female', 'Software Engineering',
        'Karachi', 95.0],
       [29, 'Ali Raza', 21.0, 'Male', 'Artificial Intelligence',
        'Faisalabad', 87.0],
       [30, 'Kinza Rehman', 22.0, 'Female', 'Computer Science',
        'Rawalpindi', 90.0],
       [31, 'Murtaza Shah', 23.0, 'Male', 'Data Science', 'Lahore', 89.0],
       [32, 'Anila Ahmed', 21.0, 'Female', 'Software Engineering',
        'Islamabad', 93.0],
       [33, 'Hamza Tariq', 22.0, 'Male', 'Artificial Intelligence',
        'Karachi', 85.0],
       [34, 'Samina Yousaf', 20.0, 'Female', 'Computer Science',
        'Faisalabad', 97.0],
       [35, 'Naveed Iqbal', 21.0, 'Male', 'Information Technology',
        'Lahore', 80.0],
       [36, 'Sobia Malik', 22.0, 'Female', 'Data Science', 'Multan',
        94.0],
       [37, 'Omer Javed', 23.0, 'Male', 'Software Engineering',
        'Islamabad', 88.0],
       [38, 'Sehrish Khan', 21.0, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 90.0],
       [39, 'Rehan Butt', 20.0, 'Male', 'Computer Science', 'Lahore',
        83.0],
       [40, 'Shazia Noor', 23.0, 'Female', 'Data Science', 'Karachi',
        91.0],
       [41, 'Hammad Qureshi', 22.0, 'Male', 'Software Engineering',
        'Multan', 87.0],
       [42, 'Arisha Zain', 21.0, 'Female', 'Information Technology',
        'Faisalabad', 92.0],
       [43, 'Zeeshan Ali', 20.0, 'Male', 'Artificial Intelligence',
        'Islamabad', 85.0],
       [44, 'Areeba Khan', 23.0, 'Female', 'Computer Science', 'Lahore',
        94.0],
       [45, 'Jawad Aslam', 22.0, 'Male', 'Data Science', 'Karachi', 78.0],
       [46, 'Fizza Malik', 21.0, 'Female', 'Software Engineering',
        'Rawalpindi', 89.0],
       [47, 'Mohsin Raza', 23.0, 'Male', 'Artificial Intelligence',
        'Faisalabad', 81.0],
       [48, 'Amna Yousaf', 20.0, 'Female', 'Information Technology',
        'Lahore', 93.0],
       [49, 'Rizwan Ahmed', 22.0, 'Male', 'Computer Science',
        'Islamabad', 88.0],
       [50, 'Hira Iqbal', 21.0, 'Female', 'Data Science', 'Karachi',
        96.0]], dtype=object)

In [ ]:
# sorting
csv_10.sort_index(axis = 0, ascending = False) # index is 0 so it will sort in column

,ID,Name,Age,Gender,Department,City,Marks
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0

In [ ]:
# csv_10["Department"][10] = "Telecom" in this method we get a warning and then we will use other method
csv_10.loc[1, "Department"] = "Telecom"
csv_10

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Telecom,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# loc to see specific data
csv_10.loc[[2, 3], ["Name", "Marks"]]
# csv_10.loc[:, ["Name", "Marks"]] for all rows
# csv_10.loc[[2, 3], :] for all columns

          Name  Marks
2   Ahmed Raza   79.0
3  Ayesha Noor   95.0

In [ ]:
# iloc for a specific data
csv_10.iloc[0, 1]

'Ali Khan'

In [ ]:
# Drop function
csv_10.drop("Name", axis = 1)

    ID   Age  Gender               Department        City  Marks
0    1  21.0    Male         Computer Science      Lahore   88.0
1    2  22.0  Female                  Telecom     Karachi   92.0
2    3  20.0    Male                      NaN   Islamabad   79.0
3    4  23.0  Female             Data Science  Faisalabad   95.0
4    5  21.0    Male  Artificial Intelligence  Rawalpindi    NaN
5    6   NaN  Female     Software Engineering      Lahore   90.0
6    7  20.0    Male         Computer Science     Karachi   76.0
7    8  21.0  Female             Data Science         NaN   89.0
8    9  22.0    Male  Artificial Intelligence      Multan   81.0
9   10  23.0  Female   Information Technology  Faisalabad    NaN
10  11  21.0     NaN         Computer Science  Rawalpindi   85.0
11  12  22.0  Female             Data Science      Lahore   97.0
12  13  20.0    Male     Software Engineering     Karachi   78.0
13  14  21.0  Female                      NaN   Islamabad   88.0
14  15  23.0    Male         Computer Science  Faisalabad   82.0
15  16  20.0  Female   Information Technology         NaN   91.0
16  17  22.0     NaN             Data Science  Rawalpindi   80.0
17  18  21.0  Female     Software Engineering     Karachi   94.0
18  19  23.0    Male  Artificial Intelligence      Multan    NaN
19  20  20.0  Female         Computer Science   Islamabad   90.0
20  21  21.0    Male   Information Technology      Lahore   84.0
21  22  22.0  Female             Data Science  Faisalabad   96.0
22  23  20.0    Male     Software Engineering     Karachi   75.0
23  24  23.0  Female  Artificial Intelligence  Rawalpindi   91.0
24  25  21.0    Male         Computer Science      Lahore   79.0
25  26  20.0  Female             Data Science   Islamabad   92.0
26  27  22.0    Male   Information Technology      Multan   83.0
27  28  23.0  Female     Software Engineering     Karachi   95.0
28  29  21.0    Male  Artificial Intelligence  Faisalabad   87.0
29  30  22.0  Female         Computer Science  Rawalpindi   90.0
30  31  23.0    Male             Data Science      Lahore   89.0
31  32  21.0  Female     Software Engineering   Islamabad   93.0
32  33  22.0    Male  Artificial Intelligence     Karachi   85.0
33  34  20.0  Female         Computer Science  Faisalabad   97.0
34  35  21.0    Male   Information Technology      Lahore   80.0
35  36  22.0  Female             Data Science      Multan   94.0
36  37  23.0    Male     Software Engineering   Islamabad   88.0
37  38  21.0  Female  Artificial Intelligence  Rawalpindi   90.0
38  39  20.0    Male         Computer Science      Lahore   83.0
39  40  23.0  Female             Data Science     Karachi   91.0
40  41  22.0    Male     Software Engineering      Multan   87.0
41  42  21.0  Female   Information Technology  Faisalabad   92.0
42  43  20.0    Male  Artificial Intelligence   Islamabad   85.0
43  44  23.0  Female         Computer Science      Lahore   94.0
44  45  22.0    Male             Data Science     Karachi   78.0
45  46  21.0  Female     Software Engineering  Rawalpindi   89.0
46  47  23.0    Male  Artificial Intelligence  Faisalabad   81.0
47  48  20.0  Female   Information Technology      Lahore   93.0
48  49  22.0    Male         Computer Science   Islamabad   88.0
49  50  21.0  Female             Data Science     Karachi   96.0

Handling Missing Data -- dropna & fillna

**dropna**

In [ ]:
csv_11 = pd.read_csv("text.csv")
csv_11.dropna() # It will drop the rows with missing data

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.dropna(axis = 1) # drop along column

    ID            Name
0    1        Ali Khan
1    2      Sana Ahmed
2    3      Ahmed Raza
3    4     Ayesha Noor
4    5     Usman Tariq
5    6      Hina Malik
6    7      Farhan Ali
7    8      Maria Khan
8    9      Zain Rafiq
9   10     Laiba Ahmed
10  11     Hassan Raza
11  12     Noor Fatima
12  13      Talha Shah
13  14      Anum Tariq
14  15      Saad Iqbal
15  16      Alina Rauf
16  17   Shahzaib Khan
17  18    Fatima Aslam
18  19  Abdullah Zafar
19  20    Hareem Zahra
20  21    Adeel Akhtar
21  22     Iqra Yousaf
22  23    Kamran Malik
23  24   Mehwish Tariq
24  25    Imran Haider
25  26      Aiman Khan
26  27   Shahid Afridi
27  28      Sadia Noor
28  29        Ali Raza
29  30    Kinza Rehman
30  31    Murtaza Shah
31  32     Anila Ahmed
32  33     Hamza Tariq
33  34   Samina Yousaf
34  35    Naveed Iqbal
35  36     Sobia Malik
36  37      Omer Javed
37  38    Sehrish Khan
38  39      Rehan Butt
39  40     Shazia Noor
40  41  Hammad Qureshi
41  42     Arisha Zain
42  43     Zeeshan Ali
43  44     Areeba Khan
44  45     Jawad Aslam
45  46     Fizza Malik
46  47     Mohsin Raza
47  48     Amna Yousaf
48  49    Rizwan Ahmed
49  50      Hira Iqbal

In [ ]:
csv_11.dropna(axis = 0) # drop along rows

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.dropna(how = "any") # drop all the rows with atleast one NaN value

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.dropna(how = "all") # drop the rows with all values NaN, it will not drop the rows which have atleast one value

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.dropna(subset = ["Gender"]) # drop the rows which have NaN values in only Gender column

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.dropna(thresh = 2) # drop the rows which have the NaN value 2

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

**fillna**

In [ ]:
csv_11.fillna("Python") # here give the valuew you want to fill with

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,Python,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,Python
5,6,Hina Malik,Python,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,Python,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,Python
10,11,Hassan Raza,21.0,Python,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,Python,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,Python,91.0
16,17,Shahzaib Khan,22.0,Python,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,Python
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# fill value in a particular column we can give the data in a dictionary
csv_11.fillna({"Gender" : "Male", "Department": "Computer Science", "City" : "Islamabad", "Marks" : 80})

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,Computer Science,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,80.0
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,Islamabad,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,80.0
10,11,Hassan Raza,21.0,Male,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,Computer Science,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,Islamabad,91.0
16,17,Shahzaib Khan,22.0,Male,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,80.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# fill data from previous data or next data, we can also give here axis to fill the data along axis 0 for rows and 1 for column
csv_11.fillna(method = "ffill", axis=0) # it will fill the previous row's data and use bfill to fill data from next row

/tmp/ipython-input-1608633014.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_11.fillna(method = "ffill", axis=0) # it will fill the previous row's data and use bfill to fill data from next row

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,Software Engineering,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,95.0
5,6,Hina Malik,21.0,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,Karachi,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,81.0
10,11,Hassan Raza,21.0,Female,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,Software Engineering,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,Faisalabad,91.0
16,17,Shahzaib Khan,22.0,Female,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,94.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# fill value by giving it
csv_11.fillna(12, inplace=True) # It will fill all the NaN values by 12
csv_11

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,12,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,12.0
5,6,Hina Malik,12.0,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,12,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,12.0
10,11,Hassan Raza,21.0,12,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,12,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,12,91.0
16,17,Shahzaib Khan,22.0,12,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,12.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
csv_11.fillna("python",   limit = 1) # It will fill the first NaN value of every column with python

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,12,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,12.0
5,6,Hina Malik,12.0,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,12,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,12.0
10,11,Hassan Raza,21.0,12,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,12,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,12,91.0
16,17,Shahzaib Khan,22.0,12,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,12.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

Handling Missing Data (Replace and interpolate)

**Replace**

In [ ]:
csv_12 = pd.read_csv("text1.csv")
csv_12

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,22,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Male,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Karachi,89
8,9,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [ ]:
#  replace (older_value, new_value)
csv_12.replace(to_replace="Computer Science", value= "CS")

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,CS,Lahore,88
1,2,Sana Ahmed,22,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Male,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,CS,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Karachi,89
8,9,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,Male,CS,Rawalpindi,85
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Male,CS,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,CS,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,CS,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,CS,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,CS,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,CS,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,CS,Lahore,94
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Male,CS,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [ ]:
csv_12.replace(to_replace=[1, 2, 3, 4, 5, 6 ,7, 8, 9, 10, 11, 12], value= 100)
# It will replace all the values from 1 to 12 with 100

,ID,Name,Age,Gender,Department,City,Marks
0,100,Ali Khan,21,Male,Computer Science,Lahore,88
1,100,Sana Ahmed,22,Female,Software Engineering,Karachi,92
2,100,Ahmed Raza,20,Male,Software Engineering,Islamabad,79
3,100,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,100,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,95
5,100,Hina Malik,21,Female,Software Engineering,Lahore,90
6,100,Farhan Ali,20,Male,Computer Science,Karachi,76
7,100,Maria Khan,21,Female,Data Science,Karachi,89
8,100,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
9,100,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,100,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
11,100,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [ ]:
# replacing data using regular expression to change the string data, we have to give here regex perameter
csv_12.replace("[A-Za-z]", "python", regex=True)

,ID,Name,Age,Gender,Department,City,Marks
0,1,pythonpythonpython pythonpythonpythonpython,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,88
1,2,pythonpythonpythonpython pythonpythonpythonpyt...,22,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,92
2,3,pythonpythonpythonpythonpython pythonpythonpyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,79
3,4,pythonpythonpythonpythonpythonpython pythonpyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpythonpyth...,95
4,5,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,95
5,6,pythonpythonpythonpython pythonpythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,90
6,7,pythonpythonpythonpythonpythonpython pythonpyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,76
7,8,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpython,89
8,9,pythonpythonpythonpython pythonpythonpythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,81
9,10,pythonpythonpythonpythonpython pythonpythonpyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,81
10,11,pythonpythonpythonpythonpythonpython pythonpyt...,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,85
11,12,pythonpythonpythonpython pythonpythonpythonpyt...,22,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpython,97
12,13,pythonpythonpythonpythonpython pythonpythonpyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,78
13,14,pythonpythonpythonpython pythonpythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,88
14,15,pythonpythonpythonpython pythonpythonpythonpyt...,23,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,82
15,16,pythonpythonpythonpythonpython pythonpythonpyt...,20,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,91
16,17,pythonpythonpythonpythonpythonpythonpythonpyth...,22,pythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpythonpyth...,80
17,18,pythonpythonpythonpythonpythonpython pythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,94
18,19,pythonpythonpythonpythonpythonpythonpythonpyth...,23,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,94
19,20,pythonpythonpythonpythonpythonpython pythonpyt...,20,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,90
20,21,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,84
21,22,pythonpythonpythonpython pythonpythonpythonpyt...,22,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpythonpyth...,96
22,23,pythonpythonpythonpythonpythonpython pythonpyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,75
23,24,pythonpythonpythonpythonpythonpythonpython pyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,91
24,25,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,79
25,26,pythonpythonpythonpythonpython pythonpythonpyt...,20,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpythonpyth...,92
26,27,pythonpythonpythonpythonpythonpython pythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,83
27,28,pythonpythonpythonpythonpython pythonpythonpyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,95
28,29,pythonpythonpython pythonpythonpythonpython,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,87
29,30,pythonpythonpythonpythonpython pythonpythonpyt...,22,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,90
30,31,pythonpythonpythonpythonpythonpythonpython pyt...,23,pythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpython,89
31,32,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,93
32,33,pythonpythonpythonpythonpython pythonpythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython,85
33,34,pythonpythonpythonpythonpythonpython pythonpyt...,20,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,97
34,35,pythonpythonpythonpythonpythonpython pythonpyt...,21,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,80
35,36,pythonpythonpythonpythonpython pythonpythonpyt...,22,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpython,94
36,37,pythonpythonpythonpython pythonpythonpythonpyt...,23,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,88
37,38,pythonpythonpythonpythonpythonpythonpython pyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,90
38,39,pythonpythonpythonpythonpython pythonpythonpyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,83
39,40,pythonpythonpythonpythonpythonpython pythonpyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpython,91
40,41,pythonpythonpythonpythonpythonpython pythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,87
41,42,pythonpythonpythonpythonpythonpython pythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,92
42,43,pythonpythonpythonpythonpythonpythonpython pyt...,20,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,85
43,44,pythonpythonpythonpythonpythonpython pythonpyt...,23,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,94
44,45,pythonpythonpythonpythonpython pythonpythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpython,78
45,46,pythonpythonpythonpythonpython pythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,89
46,47,pythonpythonpythonpythonpythonpython pythonpyt...,23,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,81
47,48,pythonpythonpythonpython pythonpythonpythonpyt...,20,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,93
48,49,pythonpythonpythonpythonpythonpython pythonpyt...,22,pythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,88
49,50,pythonpythonpythonpython pythonpythonpythonpyt...,21,pythonpythonpythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpythonpythonpythonpython,96

In [ ]:
# replacing with dictionary
csv_12.replace({"Gender": "[A-Z]"}, 22, regex=True)

/tmp/ipython-input-361212979.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  csv_12.replace({"Gender": "[A-Z]"}, 22, regex=True)

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,22,Computer Science,Lahore,88
1,2,Sana Ahmed,22,22,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,22,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,22,Data Science,Faisalabad,95
4,5,Usman Tariq,21,22,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,22,Software Engineering,Lahore,90
6,7,Farhan Ali,20,22,Computer Science,Karachi,76
7,8,Maria Khan,21,22,Data Science,Karachi,89
8,9,Zain Rafiq,22,22,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,22,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,22,Computer Science,Rawalpindi,85
11,12,Noor Fatima,22,22,Data Science,Lahore,97
12,13,Talha Shah,20,22,Software Engineering,Karachi,78
13,14,Anum Tariq,21,22,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,22,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,22,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,22,22,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,22,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,22,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,22,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,22,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,22,Data Science,Faisalabad,96
22,23,Kamran Malik,20,22,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,22,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,22,Computer Science,Lahore,79
25,26,Aiman Khan,20,22,Data Science,Islamabad,92
26,27,Shahid Afridi,22,22,Information Technology,Multan,83
27,28,Sadia Noor,23,22,Software Engineering,Karachi,95
28,29,Ali Raza,21,22,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,22,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,22,Data Science,Lahore,89
31,32,Anila Ahmed,21,22,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,22,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,22,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,22,Information Technology,Lahore,80
35,36,Sobia Malik,22,22,Data Science,Multan,94
36,37,Omer Javed,23,22,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,22,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,22,Computer Science,Lahore,83
39,40,Shazia Noor,23,22,Data Science,Karachi,91
40,41,Hammad Qureshi,22,22,Software Engineering,Multan,87
41,42,Arisha Zain,21,22,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,22,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,22,Computer Science,Lahore,94
44,45,Jawad Aslam,22,22,Data Science,Karachi,78
45,46,Fizza Malik,21,22,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,22,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,22,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,22,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,22,Data Science,Karachi,96

In [ ]:
# Also replace by ffill and bfill by using method first we have to give the value then method
csv_12.replace("Male", method= "ffill")

/tmp/ipython-input-2338223696.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv_12.replace("Male", method= "ffill")

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,22,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Female,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Female,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Female,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Karachi,89
8,9,Zain Rafiq,22,Female,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,Female,Computer Science,Rawalpindi,85
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Female,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Female,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,22,Female,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Female,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Female,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Female,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Female,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Female,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Female,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Female,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Female,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Female,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Female,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Female,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Female,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Female,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,22,Female,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Female,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Female,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [ ]:
# We can also give a limit for the values to replace
csv_12.replace(22, method= "ffill", limit=2)

/tmp/ipython-input-94663551.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv_12.replace(22, method= "ffill", limit=2)

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,21,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Male,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Karachi,89
8,9,Zain Rafiq,21,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
11,12,Noor Fatima,21,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,20,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,21,Iqra Yousaf,21,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,20,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,21,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,21,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,21,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,23,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,23,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,20,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [ ]:
# Inplace to replace original data not to create a copy
csv_12.replace(22, method= "ffill", inplace=True)
csv_12

/tmp/ipython-input-2798582803.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv_12.replace(22, method= "ffill", inplace=True)

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,21,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Male,Software Engineering,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,95
5,6,Hina Malik,21,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Karachi,89
8,9,Zain Rafiq,21,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,81
10,11,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
11,12,Noor Fatima,21,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Software Engineering,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Faisalabad,91
16,17,Shahzaib Khan,20,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,94
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,21,Iqra Yousaf,21,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,20,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,21,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,21,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,21,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,23,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,23,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,20,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

Interpolate -> it will fill the missing data automatically according to aleady existing data, it work on only numeric values(int, float)

In [ ]:
csv_13 = pd.read_csv("text.csv")
csv_13.interpolate()

# By default it change the data as linear but we can change it using method
# csv_13.interpolate(method='cubic')
# here are the methods:{'linear', 'time', 'index', 'values', 'nearest', 'zero',
# 'slinear', 'quadratic', 'cubic', 'barycentic', 'krogh', 'polynomial',
# 'spline', 'piecewise_polynomial', 'from_derivatives', 'pchip', 'akima'}

/tmp/ipython-input-4008533184.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_13.interpolate()

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,92.5
5,6,Hina Malik,20.5,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,83.0
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,92.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# by index 1 for row and 0 for column for this the data in a row or column should be of same type
# otherwise it will rasie an error bydeault it works column wise
csv_13.interpolate(axis=0)

/tmp/ipython-input-1370167485.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_13.interpolate(axis=0)

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,92.5
5,6,Hina Malik,20.5,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,83.0
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,92.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# give limit to fill limited consecutive NaN values
# You can also give the direction of values to be filled from forward, backward and both
# forward will fill from the up, backward will from down and bold from both sides
csv_13.interpolate(limit_direction= "backward", limit=1) # limit is 1 so it will fill just 1 values from consecutive NaN values

/tmp/ipython-input-4234364511.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_13.interpolate(limit_direction= "backward", limit=1) # limit is 1 so it will fill just 1 values from consecutive NaN values

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,92.5
5,6,Hina Malik,20.5,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,83.0
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,92.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# limit area inside and outside, inside will fill while outside will not
csv_13.interpolate(limit_area= "outside")

/tmp/ipython-input-2815361897.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_13.interpolate(limit_area= "outside")

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,NaN
5,6,Hina Malik,NaN,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,NaN
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,NaN
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

In [ ]:
# inplace is true to change the original data and false to make changes in a copy of data
csv_13.interpolate(inplace=True)
csv_13 # now data is changed in the original file

/tmp/ipython-input-12644128.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_13.interpolate(inplace=True)

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21.0,Male,Computer Science,Lahore,88.0
1,2,Sana Ahmed,22.0,Female,Software Engineering,Karachi,92.0
2,3,Ahmed Raza,20.0,Male,NaN,Islamabad,79.0
3,4,Ayesha Noor,23.0,Female,Data Science,Faisalabad,95.0
4,5,Usman Tariq,21.0,Male,Artificial Intelligence,Rawalpindi,92.5
5,6,Hina Malik,20.5,Female,Software Engineering,Lahore,90.0
6,7,Farhan Ali,20.0,Male,Computer Science,Karachi,76.0
7,8,Maria Khan,21.0,Female,Data Science,NaN,89.0
8,9,Zain Rafiq,22.0,Male,Artificial Intelligence,Multan,81.0
9,10,Laiba Ahmed,23.0,Female,Information Technology,Faisalabad,83.0
10,11,Hassan Raza,21.0,NaN,Computer Science,Rawalpindi,85.0
11,12,Noor Fatima,22.0,Female,Data Science,Lahore,97.0
12,13,Talha Shah,20.0,Male,Software Engineering,Karachi,78.0
13,14,Anum Tariq,21.0,Female,NaN,Islamabad,88.0
14,15,Saad Iqbal,23.0,Male,Computer Science,Faisalabad,82.0
15,16,Alina Rauf,20.0,Female,Information Technology,NaN,91.0
16,17,Shahzaib Khan,22.0,NaN,Data Science,Rawalpindi,80.0
17,18,Fatima Aslam,21.0,Female,Software Engineering,Karachi,94.0
18,19,Abdullah Zafar,23.0,Male,Artificial Intelligence,Multan,92.0
19,20,Hareem Zahra,20.0,Female,Computer Science,Islamabad,90.0
20,21,Adeel Akhtar,21.0,Male,Information Technology,Lahore,84.0
21,22,Iqra Yousaf,22.0,Female,Data Science,Faisalabad,96.0
22,23,Kamran Malik,20.0,Male,Software Engineering,Karachi,75.0
23,24,Mehwish Tariq,23.0,Female,Artificial Intelligence,Rawalpindi,91.0
24,25,Imran Haider,21.0,Male,Computer Science,Lahore,79.0
25,26,Aiman Khan,20.0,Female,Data Science,Islamabad,92.0
26,27,Shahid Afridi,22.0,Male,Information Technology,Multan,83.0
27,28,Sadia Noor,23.0,Female,Software Engineering,Karachi,95.0
28,29,Ali Raza,21.0,Male,Artificial Intelligence,Faisalabad,87.0
29,30,Kinza Rehman,22.0,Female,Computer Science,Rawalpindi,90.0
30,31,Murtaza Shah,23.0,Male,Data Science,Lahore,89.0
31,32,Anila Ahmed,21.0,Female,Software Engineering,Islamabad,93.0
32,33,Hamza Tariq,22.0,Male,Artificial Intelligence,Karachi,85.0
33,34,Samina Yousaf,20.0,Female,Computer Science,Faisalabad,97.0
34,35,Naveed Iqbal,21.0,Male,Information Technology,Lahore,80.0
35,36,Sobia Malik,22.0,Female,Data Science,Multan,94.0
36,37,Omer Javed,23.0,Male,Software Engineering,Islamabad,88.0
37,38,Sehrish Khan,21.0,Female,Artificial Intelligence,Rawalpindi,90.0
38,39,Rehan Butt,20.0,Male,Computer Science,Lahore,83.0
39,40,Shazia Noor,23.0,Female,Data Science,Karachi,91.0
40,41,Hammad Qureshi,22.0,Male,Software Engineering,Multan,87.0
41,42,Arisha Zain,21.0,Female,Information Technology,Faisalabad,92.0
42,43,Zeeshan Ali,20.0,Male,Artificial Intelligence,Islamabad,85.0
43,44,Areeba Khan,23.0,Female,Computer Science,Lahore,94.0
44,45,Jawad Aslam,22.0,Male,Data Science,Karachi,78.0
45,46,Fizza Malik,21.0,Female,Software Engineering,Rawalpindi,89.0
46,47,Mohsin Raza,23.0,Male,Artificial Intelligence,Faisalabad,81.0
47,48,Amna Yousaf,20.0,Female,Information Technology,Lahore,93.0
48,49,Rizwan Ahmed,22.0,Male,Computer Science,Islamabad,88.0
49,50,Hira Iqbal,21.0,Female,Data Science,Karachi,96.0

**Merging And Concat**

**Merge**  merge() joins DataFrames by matching common columns (like SQL join)

In [ ]:
# It will only merge the same values, the column name should be same
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 3, 5], "C" : [15, 16, 17, 18]})
# Two methods to merge
pd.merge(vari_1, vari_2)
# pd.merge(vari_2, vari_1, on="A")

   A  B   C
0  1  5  15
1  2  6  16
2  3  7  17

In [ ]:
# When some values are not same it will not merge
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "C" : [15, 16, 17, 18]})
# we can also use this method
pd.merge(vari_2, vari_1, on="A")

   A   C  B
0  1  15  5
1  2  16  6

In [ ]:
# how, bydefault it's inner, we can use right, left and outer
# right will do it from right side and left will do from left side, and outer for both data
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "C" : [15, 16, 17, 18]})

pd.merge(vari_1, vari_2, how="left") # it will do from left as there is vari_1 is on left it will do from vari_1

   A  B     C
0  1  5  15.0
1  2  6  16.0
2  3  7   NaN
3  4  8   NaN

In [ ]:
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "C" : [15, 16, 17, 18]})

pd.merge(vari_1, vari_2, how="right") # it will do from right as there is vari_2 is on right it will do from vari_2

   A    B   C
0  1  5.0  15
1  2  6.0  16
2  5  NaN  17
3  6  NaN  18

In [ ]:
# Use outer for both data
# indicator -> it's tell the about the merged data
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "C" : [15, 16, 17, 18]})

pd.merge(vari_1, vari_2, how="outer", indicator=True)

   A    B     C      _merge
0  1  5.0  15.0        both
1  2  6.0  16.0        both
2  3  7.0   NaN   left_only
3  4  8.0   NaN   left_only
4  5  NaN  17.0  right_only
5  6  NaN  18.0  right_only

In [ ]:
# When both columns names are same but all data is not same so it will only display the column name
vari_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
vari_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

# To sort this we use index
pd.merge(vari_1, vari_2, left_index=True, right_index=True)

   A_x  B_x  A_y  B_y
0    1    5    1   15
1    2    6    2   16
2    3    7    5   17
3    4    8    6   18

In [ ]:
# To change the x and y to a name in the last we use suffixes
pd.merge(vari_1, vari_2, left_index=True, right_index=True, suffixes=("My", "Your"))

   AMy  BMy  AYour  BYour
0    1    5      1     15
1    2    6      2     16
2    3    7      5     17
3    4    8      6     18

**Concat**  concat() simply stacks DataFrames on top of or beside each other.

In [ ]:
# concat in Series
sr1 = pd.Series([1, 2, 3, 4])
sr2 = pd.Series([11, 21, 13, 14])

pd.concat([sr1, sr2]) # here we will pass the data as a list

0     1
1     2
2     3
3     4
0    11
1    21
2    13
3    14
dtype: int64

In [ ]:
# concat in dataFrame
dt_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_2 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_1, dt_2])

   A   B
0  1   5
1  2   6
2  3   7
3  4   8
0  1  15
1  2  16
2  5  17
3  6  18

In [ ]:
# When column names are not same
dt_3 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_4 = pd.DataFrame({"D" : [1, 2, 5, 6], "C" : [15, 16, 17, 18]})

pd.concat([dt_3, dt_4])

     A    B    D     C
0  1.0  5.0  NaN   NaN
1  2.0  6.0  NaN   NaN
2  3.0  7.0  NaN   NaN
3  4.0  8.0  NaN   NaN
0  NaN  NaN  1.0  15.0
1  NaN  NaN  2.0  16.0
2  NaN  NaN  5.0  17.0
3  NaN  NaN  6.0  18.0

In [ ]:
# we can merge it accrdig to axis 0 for rows and 1 for column by default it works in rows
dt_5 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_6 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_5, dt_6], axis=1)

   A  B  A   B
0  1  5  1  15
1  2  6  2  16
2  3  7  5  17
3  4  8  6  18

In [ ]:
# as we have missing data in dt_8 it will show NaN, so sort this we will use join
# join has two values inner and outer inner will show intersection and outer will show union/all values
dt_7 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_8 = pd.DataFrame({"A" : [1, 2], "B" : [15, 16]})

pd.concat([dt_7, dt_8], axis=1, join="inner")

   A  B  A   B
0  1  5  1  15
1  2  6  2  16

In [ ]:
# giving keys to the merging data
dt_9 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_0 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_9, dt_0], axis=1, keys=["d1", "d2"])

  d1    d2
   A  B  A   B
0  1  5  1  15
1  2  6  2  16
2  3  7  5  17
3  4  8  6  18

In [ ]:
# same program in 0 axis
# giving keys to the merging data
dt_9 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
dt_0 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_9, dt_0], axis=0, keys=["d1", "d2"])

      A   B
d1 0  1   5
   1  2   6
   2  3   7
   3  4   8
d2 0  1  15
   1  2  16
   2  5  17
   3  6  18

In [ ]:
# one dimension and 2 dimension DataFrame
dt_10 = pd.DataFrame({"A" : [1, 2, 3, 4]})
dt_11 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_10, dt_11])

   A     B
0  1   NaN
1  2   NaN
2  3   NaN
3  4   NaN
0  1  15.0
1  2  16.0
2  5  17.0
3  6  18.0

In [ ]:
# one dimension and 2 dimension DataFrame, when columns name are different
dt_12 = pd.DataFrame({"C" : [1, 2, 3, 4]})
dt_13 = pd.DataFrame({"A" : [1, 2, 5, 6], "B" : [15, 16, 17, 18]})

pd.concat([dt_12, dt_13])

     C    A     B
0  1.0  NaN   NaN
1  2.0  NaN   NaN
2  3.0  NaN   NaN
3  4.0  NaN   NaN
0  NaN  1.0  15.0
1  NaN  2.0  16.0
2  NaN  5.0  17.0
3  NaN  6.0  18.0

**Group By** group same values + apply a function (like sum, mean, count, etc.)

In [ ]:
students = {
    "Name": [
        "a", "c", "a", "d",
        "b", "c", "b",
        "c", "a", "b",
        "a", "d", "b", "d", "a"
    ],
    "Subject1": [85, 78, 92, 88, 74, 81, 90, 87, 76, 84, 93, 72, 80, 95, 89],
    "Subject2": [91, 83, 89, 85, 77, 88, 92, 90, 75, 86, 95, 70, 82, 97, 93]
}

data_1 = pd.DataFrame(students)
data_1

   Name  Subject1  Subject2
0     a        85        91
1     c        78        83
2     a        92        89
3     d        88        85
4     b        74        77
5     c        81        88
6     b        90        92
7     c        87        90
8     a        76        75
9     b        84        86
10    a        93        95
11    d        72        70
12    b        80        82
13    d        95        97
14    a        89        93

In [ ]:
data_new = data_1.groupby('Name') # here we have tell the name of the column by which we want to group
data_new

In [ ]:
for x,y  in data_new:
  print(x)
  print(y)
  print()

a
   Name  Subject1  Subject2
0     a        85        91
2     a        92        89
8     a        76        75
10    a        93        95
14    a        89        93

b
   Name  Subject1  Subject2
4     b        74        77
6     b        90        92
9     b        84        86
12    b        80        82

c
  Name  Subject1  Subject2
1    c        78        83
5    c        81        88
7    c        87        90

d
   Name  Subject1  Subject2
3     d        88        85
11    d        72        70
13    d        95        97

In [ ]:
# for spectic name data
data_new.get_group("a") # here we have to give the group name

   Name  Subject1  Subject2
0     a        85        91
2     a        92        89
8     a        76        75
10    a        93        95
14    a        89        93

In [ ]:
# for min
data_new.min()

      Subject1  Subject2
Name
a           76        75
b           74        77
c           78        83
d           72        70

In [ ]:
# for max
data_new.max()

      Subject1  Subject2
Name
a           93        95
b           90        92
c           87        90
d           95        97

In [ ]:
# for mean
data_new.mean()

      Subject1  Subject2
Name
a         87.0     88.60
b         82.0     84.25
c         82.0     87.00
d         85.0     84.00

In [ ]:
# Convert data form DataFrame into List
li = list(data_new)
li

[('a',
     Name  Subject1  Subject2
  0     a        85        91
  2     a        92        89
  8     a        76        75
  10    a        93        95
  14    a        89        93),
 ('b',
     Name  Subject1  Subject2
  4     b        74        77
  6     b        90        92
  9     b        84        86
  12    b        80        82),
 ('c',
    Name  Subject1  Subject2
  1    c        78        83
  5    c        81        88
  7    c        87        90),
 ('d',
     Name  Subject1  Subject2
  3     d        88        85
  11    d        72        70
  13    d        95        97)]

**Join**

In [ ]:
ja_1 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
ja_2 = pd.DataFrame({"C" : [11, 22, 13, 14], "D" : [15, 16, 17, 18]})

ja_1.join(ja_2)

   A  B   C   D
0  1  5  11  15
1  2  6  22  16
2  3  7  13  17
3  4  8  14  18

In [ ]:
# when some data is missing
ja_3 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]})
ja_4 = pd.DataFrame({"C" : [11, 22], "D" : [15, 16]})

ja_3.join(ja_4)

   A  B     C     D
0  1  5  11.0  15.0
1  2  6  22.0  16.0
2  3  7   NaN   NaN
3  4  8   NaN   NaN

In [ ]:
# giving index number, we have to give the index number to both otherwise it will show NaN value where we don't give index
ja_5 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]}, index=['a', 'b', 'c', 'd'])
ja_6 = pd.DataFrame({"C" : [11, 22], "D" : [15, 16]}, index=['a', 'b'])

ja_5.join(ja_6)

   A  B     C     D
a  1  5  11.0  15.0
b  2  6  22.0  16.0
c  3  7   NaN   NaN
d  4  8   NaN   NaN

In [ ]:
# when we have the first column with low data and second with high i'll print the data according to first column
# means it will skip the other data whose index number are not in first column

ja_7 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]}, index=['a', 'b', 'c', 'd'])
ja_8 = pd.DataFrame({"C" : [11, 22], "D" : [15, 16]}, index=['a', 'b'])

ja_8.join(ja_7)

    C   D  A  B
a  11  15  1  5
b  22  16  2  6

In [ ]:
# here we use the how to tell from where you have to join
# right for right, left for left, inner for intersection, outer for union
ja_7 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]}, index=['a', 'b', 'c', 'd'])
ja_8 = pd.DataFrame({"C" : [11, 22], "D" : [15, 16]}, index=['a', 'b'])

ja_8.join(ja_7, how='right')

      C     D  A  B
a  11.0  15.0  1  5
b  22.0  16.0  2  6
c   NaN   NaN  3  7
d   NaN   NaN  4  8

In [ ]:
# when column names are same  we can use the lsuffix and rsuffix to change the name
ja_9 = pd.DataFrame({"A" : [1, 2, 3, 4], "B" : [5, 6, 7, 8]}, index=['a', 'b', 'c', 'd'])
ja_0 = pd.DataFrame({"C" : [11, 22], "B" : [15, 16]}, index=['a', 'b'])

ja_9.join(ja_0, how='left', lsuffix= "S", rsuffix="G")

   A  BS     C    BG
a  1   5  11.0  15.0
b  2   6  22.0  16.0
c  3   7   NaN   NaN
d  4   8   NaN   NaN